@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply m-0 p-0 w-full h-full;
}

body {
    overflow: hidden;
}

.rich-tree-kanit * {
    font-family: 'Kanit', sans-serif !important;
}

.custom-md-editor .w-md-editor-toolbar {
    font-size: 16px !important;
    padding: 10px 12px !important;
}

.custom-md-editor .w-md-editor-toolbar li > button {
    color: inherit;
    transition: color 0.2s ease;
    margin-bottom: 4px !important;
    padding: 4px 12px !important;
    font-size: 15px !important;
}

.custom-md-editor .w-md-editor-toolbar li > button:hover {
    color: #7A73D1 !important;
}

.custom-md-editor .w-md-editor-toolbar li > button:hover svg {
    stroke: #7A73D1 !important;
}

.custom-md-editor .w-md-editor-toolbar li > button.active {
    color: #7A73D1 !important;
}

.custom-md-editor .w-md-editor-toolbar li > button.active svg {
    stroke: #7A73D1 !important;
}

* {
    @apply box-border;
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #4D55CC, #7A73D1);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to bottom, #211C84, #4D55CC);
    }

    .dark ::-webkit-scrollbar-track {
        background: #222;
    }

    .dark ::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, #7A73D1, #B5A8D5);
    }
}